<!-- index.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
  </head>
  <body>
<div class="navbar">
		<ul class="navbar_wrapper">
			<li><a href="/index">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/posts">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
			<h1></h1>
			<p></p>
</body>
</html>
